body {
    font-family:sans-serif;
    font: comic-sans-serif;
    background-color: black;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 309%;
    color: white;
}

.bold {
    font-weight: normal;
}

.img-medium {
    height: 200px;
}

